.suggestions {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 8px 10px;
    margin-right: 6px;

    &:hover {
        background-color: var(--alpha-bg);
        border-radius: 4px;
    }
}

.suggestions-icon {
    font-size: 1.6rem;
    color: var(--text-secondary-color);
    margin-right: 10px;
}

.suggestions-title {
    color: var(--primary-color);
}

.suggestions-sup-title {
    font-weight: 400;
}
