.option-new {
    margin-bottom: 16px;
}

.choice-container {
    overflow: hidden;
}

.choice-content {
    display: flex;
}

.choice-item {
}

.choice-link {
    display: flex;
}

.choice-img {
    width: 100%;
}
