@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import 'GridSytem.scss';

:root {
    --black: #32323d;
    --primary-color: #fff;
    --second-primary-color: #7200a1;
    // bg
    --primary-bg: #34224f;
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    // text
    --text-color: #dadada;
    --text-secondary-color: hsla(0, 0%, 100%, 0.5);
    --link-text-hover: #c273ed;
    // border
    --border-primary: hsla(0, 0%, 100%, 0.1);

    --left-bar-bg: #231b2e;
    --nav-active-bg: #ffffff1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    background-color: #170f23;
}

// css scroll bar
html *::-webkit-scrollbar {
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

html *::-webkit-scrollbar-track {
    box-shadow: inset #fff;
    border-radius: 4px;
}

//
button,
input,
[tabindex] {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// border
.br-999 {
    border-radius: 999px !important;
}

// custom tippy class
.tippy-content {
    font-size: 1.1rem;
}
