.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    right: 0;
    left: 240px;
    z-index: 999;

    height: 70px;
    padding: 0 59px;
    background-color: transparent;
}

.header-tool {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-control__btn {
    display: flex;
    justify-content: flex-start;

    width: 44px;
    height: 24px;
    color: var(--text-color);
    font-size: 2rem;
    background-color: transparent;
}

.page-control__btn.disable {
    opacity: 0.4;
    user-select: none;
    cursor: default;
}

// right toll
.toll-item__btn {
    background-color: transparent;
}

.toll-item,
.toll-item__btn {
    font-size: 1.8rem;
    color: var(--text-color);
}

.toll-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    background-color: var(--alpha-bg);
}

.toll-item + .toll-item {
    margin-left: 12px;
}

// header menu
.menu-box {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 1px;
        background-color: var(--border-primary);
    }
}

// header-avatar
.header-avatar {
    width: 100%;
}
