.menu-item {
    list-style: none;
}

.menu-item__btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
    width: 100%;
    color: var(--text-color);
    background-color: transparent;
    padding: 12px 17px 12px 20px;

    &:hover {
        background-color: var(--alpha-bg);
    }

    &:hover .sub-menu {
        display: block;
    }
}

.menu-item__btn.menu-item__btn-other {
    color: var(--text-secondary-color);

    &:hover {
        color: var(--text-color);
        background-color: var(--alpha-bg);
    }
}

.menu-left-icon {
    display: flex;
    font-size: 1.8rem;
    width: 30px;
}

.menu-item__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.menu-right-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.6rem;
}

// sub menu
.sub-menu {
    position: absolute;
    left: -236px;
    right: unset;
    top: 0;

    display: none;
}

.sub-menu.right-place {
    left: auto;
    top: unset;
    bottom: 0;
}

.submenu-item {
    display: flex;
    align-items: center;
    padding: 5px 15px;

    &:hover {
        background-color: var(--alpha-bg);
    }
}

.sub-menu__body {
    text-align: start;
    width: 192px;
}

.sub-menu__title {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.sub-menu__desc {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-secondary-color);
    padding-right: 6px;
    margin-top: 6px;
}

.sub-menu__icon {
    font-size: 1.8rem;
}

.submenu-item__btn {
    padding: 5px 0px;

    &:hover {
        background-color: transparent;
    }
}

// size
.small {
    padding: 10px 20px 10px 14px;
}
